.JoinGame {
    height: 25%;
    min-height: 105px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
    width: 80%;
    max-width: 175px;
}