.gamepadWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.Gamepad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5em;
    height: 75%;
    width: 100%;
    margin-bottom: 1em;
}

.directionButton {
    background-color: #ffffff6b;
    border-radius: 1em;
    -webkit-user-select: none; /* prevent save options when tapping and holding on image */
    -webkit-touch-callout: none; /* prevent save options when tapping and holding on image */
}

.clickable:active {
  background-color: #0C6497;
}

